@import "../../_css/common";

.checkout {
  margin-top: 50px;
  padding-bottom: 50px;
  width: 100%;

  @include small-break {
    margin-top: 30px
  }

  @media (min-width: 2000px) {
    padding-bottom: 200px;
  }

  @media (max-width: 768px) {
    padding-bottom: 150px;
  }
}
