.slider {
  display: flex;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch; /* Enables momentum scrolling on iOS */
  scroll-behavior: auto; /* Disables smooth scrolling */
  cursor: grab;
  scrollbar-width: none; /* Hides scrollbar on Firefox */
  width: 100%; /* Ensure it takes full width */
  margin: 0; /* Remove any default margin */
  padding-bottom: 1rem; /* Remove any default padding */
}

.slider::-webkit-scrollbar {
  display: none; /* Hides scrollbar on Chrome, Safari, and Opera */
}

.slider:active {
  cursor: grabbing;
}

.slide {
  margin-left: 1rem;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out;
  border-radius: 1rem;
}

.slide img {
  width: 90%;
  display: block;
}
