/*@tailwind: base;*/
@tailwind components;
@tailwind utilities;

.frame-gradient {
  background: linear-gradient(to top, #4968AC,  #AC4968);
}

.newsletter-gradient {
  background: linear-gradient(to bottom, #4968AC, #F7F9FB);
}

@layer utilities {
  .rotate-bg {
    position: relative;
    width: 100%;
    height: 189px;
    overflow: hidden;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border: 1px solid #1d3465;
  }

  .rotate-bg::before,
  .rotate-bg::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    top: -50%;
    left: -50%;
  }

  .rotate-bg::before {
    background: linear-gradient(45deg, #AC4968 0%, #DCB4C1 80%);
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    transform: rotate(45deg); /* Poprawiona rotacja */
    z-index: 1; /* Na dole */
  }

  .rotate-bg::after {
    background: linear-gradient(90deg, #4968AC 50% , #BBCCF1 80%);
    clip-path: polygon(0 0, 100% 100%, 100% 0);
    transform: rotate(45deg); /* Poprawiona rotacja */
    z-index: 0; /* Na dole, pod pseudoelementem ::before */
  }

  .header-content {
    position: relative;
    z-index: 2; /* Na wierzchu tła */
    background-color: transparent; /* Przezroczyste tło nagłówka */
    padding: 1rem; /* Padding nagłówka */
    color: white; /* Kolor tekstu nagłówka */
    text-align: left;
    height: 100%; /* Wysokość kontenera */
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center; 
  }

  .header-content h2 {
    line-height: 2rem;
    font-size: 1.8rem; /* Zmniejszenie rozmiaru czcionki */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Cień tekstu */
  }
}








