@use './queries.scss' as *;
@use './colors.scss' as *;
@use './type.scss' as *;
@use "./theme.scss";

.react-tabs__tab-list {
  border: none !important; /* Usunięcie obramowania */
  outline: none !important; /* Usuń obrys */
  box-shadow: none !important; /* Usuń cień */
  border-bottom: none !important;
}

.react-tabs__tab-panel--selected {
  .RichText_richText__8IUJ0 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
      p, span {
        color: #F7F9FB !important;
        font-size: 16px;
      }
  }
}

.react-tabs__tab {
  h6 {
    font-weight: 400;
    color: #F7F9FB !important;
  }
}

.react-tabs__tab {
  padding: 15px 20px !important;
  cursor: pointer;
  font-size: 32px;
  color: #F7F9FB;
  border: none;
  border-bottom: 1px solid transparent;
  transition: color 0.3s ease, border-bottom 0.3s ease;

  &:hover {
    background-color: transparent;
    color: #F7F9FB;
  }
}

.react-tabs__tab--selected {
  color: #F7F9FB;
  border-left: 2px solid #F7F9FB !important; 
  border-top: 2px solid #F7F9FB !important;
  border-right: 2px solid #F7F9FB !important;
  outline: none !important; /* Usuń obrys */
  background: transparent !important;
}

.react-tabs__tab--selected::after {
  display: none;
}



:root {
  --base: 24px;
  --font-body: 'Jost', sans-serif; 
  --font-mono: 'Jost', sans-serif;

  --gutter-h: 180px;
  --block-padding: 120px;

  @include large-break {
    --gutter-h: 144px;
    --block-padding: 96px;
  }

  @include mid-break {
    --gutter-h: 24px;
    --block-padding: 60px;
  }
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html {
  @extend %body;
  background: var(--theme-bg);
  -webkit-font-smoothing: antialiased;
  opacity: 0;

  &[data-theme=dark],
  &[data-theme=light] {
    opacity: initial;
  }
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: var(--font-monteserrat);
  margin: 0;
  padding: 0;
  color: var(--color-dark-500);
  display: flex;
  flex-flow: column;
  scroll-behavior: smooth;
}

.main {
  flex: 1 1 auto;
}

::selection {
  background: var(--color-dark-500);
  color: var(--color-base-800);
}

::-moz-selection {
  background: var(--color-dark-500);
  color: var(--color-base-800);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  @extend %h1;
}

h2 {
  @extend %h2;
}

h3 {
  @extend %h3;
}

h4 {
  @extend %h4;
}

h5 {
  @extend %h5;
}

h6 {
  @extend %h6;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: var(--color-dark-500);
  text-decoration: none;
  &:focus {
    opacity: .8;
    outline: none;
  }

  &:active {
    opacity: .7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}

//custom css
.Button_label__pYjjJ {
  @media (min-width: 768px) {
    font-size: 32px !important;
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}

.RichText_richText__8IUJ0 {
  span, p {
  @media (min-width: 768px) {
    font-size: 24px !important;
    line-height: 2rem;
  }
}
}


//styling conditions & privacy pages
//#########################################
.conditions, .privacy {
   padding-bottom: 3rem;
  .Gutter_gutter__QB0_n {
    padding-bottom: 5rem;
    p {
      color: #484D58;
    }
    h2 {
      span {
        font-size: 32px !important;
      }
      font-size: 32px !important;
      padding-top: 2rem;
      color: #4968AC;
    }

    h3 {
      padding-top: 1rem !important;
      color: #484D58;
    }

  }
  
  .VerticalPadding_bottom-large__W6wnm {
    background-color: #F7F9FB !important;
    padding: 0;
  }

}
// ###########################################