.footer-image-container {
  position: relative;
  width: 100%;
  height: 300px; /* Możesz dostosować wysokość */
  overflow: hidden; /* Ukrywa wychodzące części obrazka */

  .footer-image {
    position: absolute;
    top: -150px; /* Dopasuj według potrzeb */
    left: 50%;
    transform: translateX(-50%) scale(1.5); /* Wyśrodkowanie i skalowanie */
    z-index: 10;
    width: 100%; /* Ustawiamy pełną szerokość */
    height: 100%; /* Obrazek rozciągnięty na wysokość kontenera */
    object-fit: cover; /* Przycięcie obrazka w kontenerze */
  }
}



.mobfoot {
  position: relative;
}

/* Responsywne style */
@media (max-width: 768px) {
  .imageWrapper {
    height: 100px; /* Mniejsza wysokość dla mniejszych ekranów */
    transform: rotate(-7deg); /* Dostosuj kąt dla mniejszych ekranów */
  }

  .section {
    margin-top: -3rem; /* Dostosuj margines dla mniejszych ekranów */
  }
}

@media (min-width: 1200px) {
  .imageWrapper {
    height: 200px; /* Większa wysokość dla większych ekranów */
    transform: rotate(-10deg); /* Dostosuj kąt dla większych ekranów */
  }

  .section {
    margin-top: -5rem; /* Dostosuj margines dla większych ekranów */
  }
}
