.customRotate {
  margin-top: -5rem;
  transform: rotate(-15deg); /* lub inny kąt */
  width: 100%; /* Dopasowanie szerokości */
  height: auto; /* Automatyczne dopasowanie wysokości */
  position: relative;
  z-index: 100;
}

.mobfoot {
  position: relative;
}

/* Responsywne style */
@media (max-width: 768px) {
  .imageWrapper {
    height: 100px; /* Mniejsza wysokość dla mniejszych ekranów */
    transform: rotate(-7deg); /* Dostosuj kąt dla mniejszych ekranów */
  }

  .section {
    margin-top: -3rem; /* Dostosuj margines dla mniejszych ekranów */
  }
}

@media (min-width: 1200px) {
  .imageWrapper {
    height: 200px; /* Większa wysokość dla większych ekranów */
    transform: rotate(-10deg); /* Dostosuj kąt dla większych ekranów */
  }

  .section {
    margin-top: -5rem; /* Dostosuj margines dla większych ekranów */
  }
}
