.home {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 100px;
}

.promoCard {
  width: 345px;
  height: 126px;
  border-radius: 1rem;
  background: linear-gradient(to right, #BBCCF1, #F7F9FB);
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;

  @media (min-width: 500px) and (max-width: 999px) {
    width: 100%;
    height: 200px; 
  }
  
}

.promoText {
  display: flex;
  flex-direction: column;
  gap: 4px;
  h3 {
    color: #AC4968;
    font-weight: 900;
    line-height: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

.smallText {
  font-weight: 700;
  font-size: 16px !important;
  color: #AC4968;
  min-width: 150px;
  font-size: large;
  opacity: 70%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  line-height: 1.6rem;

  @media (min-width: 500px) and (max-width: 999px) {
    font-size: 24px !important;
    line-height: 4rem;
  }
}

.bigText {
  @media (min-width: 500px) and (max-width: 999px) {
    font-size: 48px !important;
  }
}

.newsCard {
  width: 95%;
  height: 200px;
  border-radius: 1rem;
  background: linear-gradient(to bottom, #AC4968, #F7F9FB);
  padding-left: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding-bottom: 2rem;

  @media (min-width: 500px) and (max-width: 999px) {
    width: 100%;
    height: 200px; 
  }
  
}

.subscribe {
  background: linear-gradient(to bottom, #AC4968, #F7F9FB);
}

.nSmallText {
  color: #4968AC;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 80%;
  font-size: 1rem;
  line-height: 1rem;
  @media (min-width: 500px) and (max-width: 999px) {
    font-size: 24px !important;
    line-height: 1.5rem;
  }
}

.nBigText {
  color: #F7F9FB;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  width: 80%;
  font-size: 1.5rem;
  line-height: 1.5rem;
  @media (min-width: 500px) and (max-width: 999px) {
    font-size: 36px !important;
    line-height: 2rem;
  }
}

.newsImage {
  position: relative;
  scale: 1.3;
  bottom: 20px;
  right: 20px;

  @media (min-width: 500px) and (max-width: 639px) {
    bottom: 30px;
    right: 50px;
    scale: 2;
  }
  @media (min-width: 640px) and (max-width: 999px) {
    bottom: 30px;
    right: 100px;
    scale: 2;
  }
}

/* Styl dla zielonego paska */
.stripeGreen {
  position: absolute;
  top: -10rem;
  left: 0;
  bottom: 10rem;
  width: 200%; /* Zwiększona szerokość, aby objąć cały ekran pod kątem */
  height: 12rem; /* Wysokość paska */
  background-color: #4968AC;
  opacity: 10%;
  transform: rotate(45deg);
  transform-origin: top left; /* Punkt obrotu */
  overflow: hidden;
}

/* Styl dla czerwonego paska */
.stripeRed {
  position: absolute;
  top: 1rem; /* Przesunięcie czerwonego paska poniżej zielonego */
  left: -6rem;
  width: 50rem;
  height: 12rem;
  background-color: #AC4968;
  opacity: 10%;
  transform: rotate(45deg);
  transform-origin: top left;
  overflow: hidden;
}

.blogvlog {
  background-color: #F7F9FB;
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-bottom: 10rem;
  background-image: url('/media/stripes2.png');
  background-size: cover; /* Rozciąga tło, aby pokryło cały obszar diva */
  background-repeat: no-repeat; /* Zapobiega powielaniu tła */
  background-position: center; /* Ustawia tło na środku */
  z-index: 0;
}

.promoImage {
  position: relative;
  scale: 1.8;
  top: 15px;
  right: 10px;

  @media (min-width: 500px) and (max-width: 639px) {
    top: 30px;
    scale: 2.5;
    right: 70px; 
  }
  @media (min-width: 640px) and (max-width: 1444px) {
    top: 20px;
    scale: 3;
    right: 100px; 
  }

}

@media (max-width: 1024px) {
  .home {
    gap: 60px;
  }
}/*# sourceMappingURL=index.module.css.map */

.gradientMenu {
  background: linear-gradient(to right, #BBCCF1, #F7F9FB);
  height: full;
  width: 100%;
}

.imageContainer {
  transition: transform 0.3s ease; /* Animacja */
}

.imageContainer:hover {
  transform: scale(1.05); /* Powiększenie */
}

.newsletterSec {
  border-radius: 1rem;
  width: 80%;
  height: 300px;
  background: linear-gradient(70deg,
  #AC4968,           /* Niebieski początek */
  #DCB4C1 50%,       /* Koniec jednolitego niebieskiego */
  #BBCCF1 50%, /* Początek gradientu */
  #4968AC 100%);
}


